@import "_nullstyle";

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: lato;
}

.countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem 1rem 0.5rem;

    &__timer {
        margin: 0 0 3rem;
    }

    &__title {
        font-weight: 700;
        margin: 0 0 1.5rem 0;
        text-align: center;
        font-size: calc(64px + 32 * ((100vw - 320px) / (1280 - 320)));
    }

    &__row {
        font-size: calc(30px + 29 * ((100vw - 320px) / (1280 - 320)));
        display: flex;
        justify-content: center;
        gap: 4rem;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 615px) {
            justify-content: space-around;
            gap: 1.5rem;
            font-weight: 700;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__day,
    &__hour,
    &__minute,
    &__second {
        color: rgb(235, 57, 57);
    }

    &__img {
        img {
            max-width: 50rem;
            @media (max-width: 770px) {
                max-width: 90vw;
            }
        }
    }
}
